.App {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.dog-image {
  width: 300px;
  height: 300px;
  position: relative;
  animation: move 2s infinite;
}

.question {
  font-size: 20px;
  margin-top: 30px;
}

.yes-button,
.no-button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yes-button {
  background-color: #4caf50;
  color: white;
}

.no-button {
  background-color: #f44336;
  color: white;
}

.no-button:hover {
  animation: none;
}

.warning {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 20px;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
